.home-screen {
	display: block;
	float: left;
	position: relative;
	width: 100%;
	&:before, &:after {
		content: "";
		position: absolute;
		display: block;
		top: 0;
		bottom: 0;		
		width: 15%;		
		background-repeat: no-repeat;
		-webkit-background-size: cover;
		     -o-background-size: cover;
		        background-size: cover;
		
		z-index: 9;
	}
	&:before {
		left: 0;
		background-image: url('../img/flower-left.png');
		background-position: 100% 100%;
	}
	&:after {
		right: 0;
		background-image: url('../img/flower-right.png');
		background-position: 0 100%;
	}
}

.home-slider {
	&__item {
		display: block;
		float: left;
		position: relative;
		width: 100%;
		height: 100%;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
		text-align: center;
		color: #FFF;
		padding: 15px 0;
		h2 {
			font-size: 42px;
			font-family: $b;
			text-transform: uppercase;
			display: block;
			width: 55%;
			margin: 0 auto 15px;
		}
		h4 {
			font-family: $l;
			font-size: 29px;
			display: block;
			width: 65%;
			margin: 0 auto 15px;
		}
		&--icon {
			display: block;
			margin: 25px auto;
			width: 75px;
			height: 75px;
			position: relative;
			img {
				position: relative;
				max-width: 100%;
				max-height: 120px;
				height: auto;
				width: auto;
				left: 50%;
				top: 50%;
				-webkit-transform: translate(-50%, -50%);
				-moz-transform: translate(-50%, -50%);
				-ms-transform: translate(-50%, -50%);
				-o-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
			}
		}
		&--link {
			display: inline-block;
			font-size: 20px;
			font-family: $l;
			text-transform: uppercase;
			padding: 15px 30px;
			color: #000;
			text-decoration: none;
			background-color: #8FBB2C;
			position: relative;
			margin: 15px 0;
			@include transition (0.3s);
			&:hover, &:focus {
				background-color: darken(#8FBB2C, 15%);
				text-decoration: none;
				color: #000;
			}
		}
	}
	&__wrap {
		width: 50%;
		display: block;
		margin: 0 auto;
	}
}

.advantages {
	display: block;
	float: left;
	position: relative;
	width: 100%;
	padding: 40px 0;
	&__item {
		display: inline-block;
		margin-right: -4px;
		width: 50%;
		margin-bottom: 15px;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
		padding: 0 15px;
		vertical-align: middle;
		&--thumb {
			display: inline-block;
			width: 75px;
			height: 75px;
			margin-right: 15px;
			vertical-align: top;
			margin-top: 10px;
			img {
				width: 100%;
				height: auto;
			}
		}
		&--desc {
			display: inline-block;
			width: calc(100% - 90px);
			margin-left: -4px;
			p {
				font-size: 21px;
				font-family: $m;
				
			}
		}
	}
}

.portfolio {
	display: block;
	float: left;
	position: relative;
	width: 100%;
	padding: 40px 0;
	background-image: url('../img/fon-1.jpg');
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	background-position: 50% 50%;
	text-align: center;
	&__item {
		display: block;
		float: left;
		position: relative;
		width: 100%;
		margin: 25px 0;
		&--img {
			display: block;
			float: left;
			position: relative;
			width: 100%;
			height: 250px;
			text-decoration: none;
			border: 5px solid #fff;
			@include overflow-img;
			-webkit-box-shadow: 0px 15px 20px 5px rgba(0, 0, 0, 0.3);
			-moz-box-shadow:    0px 15px 20px 5px rgba(0, 0, 0, 0.3);
			box-shadow:         0px 15px 20px 5px rgba(0, 0, 0, 0.3);
			@include transition(.3s);
			&--more {
				display: none;
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				top: 0;
				text-decoration: underline;
				color: #fff;
				background-image: url('../img/oka.png');
				background-repeat: no-repeat;
				background-position: 50% 35%;
				background-color: rgba(0,0,0,.5);
				text-align: center;
				font-size: 18px;
				font-family: $m;
				line-height: 250px;
				@include transition(.3s);
			}
			&:hover {
				.portfolio__item--img--more {
					display: block;
					@include transition(.3s);
				}
			}
		}
		p {
			display: block;
			float: left;
			width: 100%;
			height: 80px;
			font-size: 22px;
			font-family: $m;
			margin: 15px 0;
			background-image: url('../img/pfrjh.png');
			background-repeat: no-repeat;
			background-position: 0 100%;
			padding: 0 0 15px;
			text-align: left;
		}
		&--link {
			display: inline-block;
			position: relative;
			width: 100%;
			padding: 8px 0;
			color: #000;
			text-align: center;
			font-family: $m;
			font-size: 20px;
			border: 2px solid #4C8720;
			@include transition(.3s);
			text-decoration: none;
			background-color: #fff;
			&:hover , &:focus {
				background-color: #4C8720;
				text-decoration: none;
				color: #fff;
			}
		}
	}
	&--link {
		@extend .home-slider__item--link;
		margin: 30px 0;
		color: #fff;
		&:hover, &:focus {
			color: #FFF;
		}
	}
}

.prices {
	display: block;
	float: left;
	position: relative;
	width: 100%;
	padding: 40px 0;
	&__wrap {
		display: flex;
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
		    -webkit-justify-content: center;
		            justify-content: center;
		    -webkit-align-items: flex-start;
		            align-items: flex-start;
		 width: 100%;
	}
	&__item {
		width: 275px;
		text-align: center;
		margin: 25px 15px;
		&--img {
			display: block;
			float: left;
			position: relative;
			@include overflow-img;
			width: 100%;
			height: 245px;
			border: 5px solid #fff;
			outline: 1px solid #B0B1B1;
			margin-bottom: 10px;
			img {
				max-width: 150%;
			}
		}
		h4 {
			font-family: $m;
			font-size: 25px;
			text-transform: uppercase;
			margin: 10px 0;			
			position: relative;
			display: block;
			float: left;
			width: 100%;
			span {
				padding: 0 10px;
				position: relative;
				&:before, &:after {
					content: "";
					width: 6px;
					height: 6px;
					@include border-radius(50%);
					background-color: #C4C4C4;
					position: absolute;
					display: block;
					top: 50%;
					-webkit-transform: translateY(-50%);
					   -moz-transform: translateY(-50%);
					    -ms-transform: translateY(-50%);
					     -o-transform: translateY(-50%);
					        transform: translateY(-50%);
				}
				&:before {
					left: -6px;
				}
				&:after {
					right: -6px;
				}
			}
			
		}
		h3 {
			margin: 10px 0;
			font-family: $m;
			font-size: 30px;
			color: #4C8720;
			i.rub {
				display: inline-block;
				margin: 0;
				width: 34px;
				height: 35px;
				background-image: url('../img/rub.png');
				background-repeat: no-repeat;
				background-position: 50% 50%;
				vertical-align: bottom;
			}
		}
		&--link {
			display: inline-block;
			padding: 10px 35px;
			margin: 10px 0;
			text-transform: uppercase;
			text-decoration: none;
			color: #040404;
			border: 1px solid #040404;
			position: relative;
			@include transition(.3s);
			font-size: 16px;
			font-family: $m;
			&:hover, &:focus {
				background-color: #040404;
				color: #fff;
				text-decoration: none;
			}
		}
	}
	&__marker {
		display: block;
		position: absolute;
		width: 70px;
		height: 70px;
		top: 5px;
		right: 5px;
		img {
			width: 100%;
			height: auto;			
		}
	}
}

.cooperation {
	display: block;
	float: left;
	position: relative;
	width: 100%;
	background-image: url('../img/bg.jpg');
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	background-position: 50% 50%;
	text-align: center;
	color: #FFF;
	padding: 40px 0;
	&--icon {
		display: inline-block;
		text-align: center;
		margin: 15px 0;
		img {
			display: block;
			margin: 0 auto;
		}
	}
	h3 {
		font-size: 36px;
		font-family: $l;
		margin: 0;
		i {
			display: block;
			font-size: 34px;
			margin: 10px 0;
		}
	}
	&--link {
		@extend .prices__item--link;
		background-color: #FFF;
		border: none;
		font-size: 22px;
	}
}

.partners {
	display: block;
	float: left;
	position: relative;
	width: 100%;
	padding: 40px 0;
	&__wrap {
		display: block;
		float: left;
		position: relative;
		margin: 15px 0;
		width: 100%;
	}
	.owl-carousel {
		display: block;
		height: auto;
		width: 80%;
		margin: 15px auto;
	}
	&__item {
		display: inline-block;
		width: 1 / 3 * 100%;
		height: 75px;
		margin-right: -4px;
		position: relative;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
		padding: 15px 25px;
		margin-top: 15px;
		margin-bottom: 15px;
		text-align: center;
		vertical-align: middle;
		line-height: 75px;
		img {
			display: inline-block!important;
			vertical-align: middle;
			max-width: 100%;
		}
	}
}

.consultation {
	display: block;
	float: left;
	position: relative;
	width: 100%;
	padding: 40px 0;
	background-image: url('../img/bg-1.jpg');
	background-repeat: no-repeat;
	background-position: 50% 50%;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	text-align: center;
	h3 {
		font-size: 38px;
		color: #000;
		font-family: $l;
		display: block;
		float: left;
		width: 100%;
		margin: 0;
		padding: 0 25%;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
	}
	.portfolio--link {
		padding: 10px 40px;
	}
}
